body, html {height: 100%}
body,h1,h2,h3,h4,h5,h6 {font-family: "Letter Gothic Std"}
.menu {display: none}
.bgimg {
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("../images/salle.jpg");
    min-height: 100%;
}
.container{
    position: relative;
    text-align: center;
}
.centered{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
footer{
    border-top: #e2c076 thin solid;
}
.logo {
    border-radius: 3px;
    background-color: white;
    opacity: 0.8;
}
.map{
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("../images/map2.JPG");
    min-height: 100%;
}

.zoom{
    transition: 0.5s;
}
.zoom:hover {
    transform: scale(1.1);
}

.formulaire{
    background-color: white;
    border-radius: 3px;
    opacity: 0.9;
}


